<style>
  .container{width:100%;margin:auto}
  @media (min-width:600px) {.container{width: 80%;}}
  @media (min-width:768px) {.container{width: 60%;}}
  @media (min-width:1024px) {.container{width: 50%;}}
</style>
<div class="container">
<h1>NTU is a really beautiful university!</h1>
<p><img src="https://www.bing.com/images/search?view=detailV2&ccid=QMCGQBVf&id=3D68F8F4471A4C66F4B57467E7AB67D1FBABD7A8&thid=OIP.QMCGQBVfl2rj8J8vEvChygHaE4&mediaurl=https%3a%2f%2ftockster111.github.io%2ftockster111%2fResources%2fNTU.jpg&exph=2367&expw=3588&q=ntu+jpg&simid=608046964654283986&FORM=IRPRST&ck=E777DFEEE2489B00C26AC34410DA1429&selectedIndex=1&itb=0&ajaxhist=0&ajaxserp=0"
  width="300" height="200"></p>
<form action="/main" method="post">

  <p><input type = "submit" value="Enter" style="width:100px;height:50px"></p>
</form>
</div>
