<style>
  .container{width:100%;margin:auto}
  @media (min-width:600px) {.container{width: 80%;}}
  @media (min-width:768px) {.container{width: 60%;}}
  @media (min-width:1024px) {.container{width: 50%;}}
</style>
<div class="container">
<h1>NTU is a really beautiful university!</h1>
<p><img src="https://www.bing.com/images/search?view=detailV2&ccid=AFxhQVOg&id=EE89B4AE634DC761EAD539F62B287CEE635225A8&thid=OIP.AFxhQVOgINcmrzlCsIu3dQHaFc&mediaurl=https%3a%2f%2fwww.ntu.edu.sg%2fimages%2fdefault-source%2fhub-news%2fthe-hive-at-ntu-singaporebc9c3317-7275-4207-a1d9-56b1c4e52358.jpg%3fsfvrsn%3d3a98efb3_3&exph=621&expw=844&q=ntu+pictures+jpg&simid=608010238399376030&FORM=IRPRST&ck=716101B564528097DC9D9133122ADFBA&selectedIndex=0&itb=0&idpp=overlayview&ajaxhist=0&ajaxserp=0"
  width="300" height="200"></p>
<form action="/main" method="post">

  <p><input type = "submit" value="Enter" style="width:100px;height:50px"></p>
</form>
</div>
